# Node modules
node_modules/

# Build output
dist/
lib/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# IDE files
.vscode/
.idea/

# test files
test.js